/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

.form{
  display: flex;
  justify-content: center;
  gap: 8px;
}


#pictures{
  border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 40px;
}

button{
  border-radius: 8px;
    padding: 8px 16px;
    width: 91px;
   

    border: none;
    background-color: #4e75ff;

    font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #fff;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style-type: none;
    margin-top: 40px;
    justify-content: center;
}

li {
  display: flex;
  flex-direction: column;
  width: 320px;
  border: 1px solid black;
}

.info{
  display: flex;
  flex-direction: row;
  gap: 28px;
 align-items: center;
 border-top: 1px solid black;
}

img{
height: 200px;
width: 320px;
}



.field{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 50%;
  left:50%;
  border: 3px solid;
  border-color: black black transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
  transition: opacity 0.75s, visibility 0,75s;
}

.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.hide{
  display: none;
}